<div id="authenticate" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>

    <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <div class="links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>

  <% end %>
</div>
