<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <% if logged_in? -%>
      <%= link_to t(".sign_out"), sign_out_path %>
  <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
  <% end -%>
</div>

<div id="flash">
  <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
